<!--


-->
<button class="button" (click)="Authentication()">bot</button>
<button class="button" (click)="sendActivity()">send</button>
<button class="button" (click)="retrieveActivity()">retrive</button>

		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a routerLink="/" class="branding">
						<div class="logo-type">
							<h1 class="site-title">WeatherApp</h1>
						</div>
					</a>

					<div class="main-navigation">
						<button type="button" class="menu-toggle"></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a routerLink="/">Home</a></li>
              <li class="menu-item"><a routerLink="/login">Login</a></li>
              <li class="menu-item"> <a routerLink="/register">Register</a></li>
              <li class="menu-item"><a routerLink="/dashboard">Dashboard</a></li>
						</ul>
					</div> 

          <div class="mobile-navigation" style="display: block;">
            <ul class="menu">
              <li class="menu-item current-menu-item"><a routerLink="/">Home</a></li>
              <li class="menu-item"><a routerLink="/login">Login</a></li>
              <li class="menu-item"> <a routerLink="/register">Register</a></li>
              <li class="menu-item"><a routerLink="/dashboard">Dashboard</a></li>
            </ul>
          </div>
				</div>
      </div>
      
			<div class="hero">
				<div class="container">
         <iframe src='https://webchat.botframework.com/embed/4yearProjectBot?s=x6xA_jQogmQ.5uOQJ5-iYN1l1WqU99wvnyMsHGU2lEJjantGGJmEJug'  
						style='background: white; min-width: 400px; width: 100%; min-height: 500px;'></iframe>
						<div id="controls">
							<input type="text" placeholder="{{city}}" id="myQuote">
							<input type="submit" (click)="getCity([lat],[lon] )" value="Get Location">
						</div>
				</div>
			</div>
		
      
			<footer class="site-footer">
				<div class="container">
					<p class="colophon">&copy; 2019 Tudor Voda. All rights reserved.</p>
				</div>
			</footer>
		</div>
